.topheader{
    padding: 10px 20px;
    background: #328806;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    position: relative;
    display: flex;
    align-items: center;
    word-spacing: -2px;
    overflow: hidden;
    justify-content: center;
}
.ant-menu-submenu-title{
    padding-top: 10px;
}
.ant-menu-item{
    text-align: right;
}
#login{
    padding: 0 70px 0 0;
}
#samane{
    color: #7acf23;
}
.text-header h3{
    color: #fff;
}
#text-main{
    margin-bottom: 10px;
    font-size: 35px;
    padding-top: 10px;
}
.ant-select-item-option-content{
    text-align: right;
}
#control-hooks{
    padding: 0 80px;
}
.tow-img{
    position: relative;
    left: 600px;
}
.there-img{
    position: relative;
    left: 800px;
}
.top-img1{
    width: 90px;
    left: 35%;
    top: 22px;
    opacity: 0.2;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
.top-img2{
    width: 90px;
    right: 35%;
    top: 48px;
    opacity: 0.2;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
.top-img3{
    width: 90px;
    right: 5%;
    top: 12px;
    opacity: 0.2;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
.top-img4{
    width: 90px;
    left: 5%;
    top: 12px;
    opacity: .6;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
.main{
    background: linear-gradient(45deg,#99e1ff,#eef3e0);
    text-align: center;
}
.img-persone{
    float: right;
    width: 130px;
    height: 130px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
    cursor: pointer;
    font-size: 14px;
    background: #fff;
    margin: 10px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
    border-radius: 25px;
    z-index: 5;
}
.online-Buy{
    width: -webkit-fit-content;
    margin: 0 auto;
}
.form{
    display: block;
    width: 75%;
    max-width: 1020px;
    margin: 0 auto;
    border: 2px solid #494949;
    border-radius: 35px;
    z-index: 2;
    position: relative;
    background: #fff;
}
.add-form{
    padding: 30px 20px;
    background: #fc0;
    position: relative;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}
.img-form{
    height: 90px;
    position: absolute;
    right: 200px;
    top: -26px;
}
.img-form-tow{
    height: 90px;
    position: absolute;
    left: 200px;
    top: -26px;
}
.allpart-form{
    text-align: center;
    position: relative;
    color: #000;
    background: #fff;
    padding: 120px 20px 45px;
    margin-top: -11px;
}
.box-form{
    background: #fff;
    padding-top: 50px;
}
.ant-menu-horizontal{
    position: relative;
    margin-bottom: -9px;
    background-color: #4a4a4a;
    height: 70px;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    padding: 0 20px;
}
.backup{
    width: -webkit-fit-content;
    margin: 0 auto;
    padding-top: 40px;
}
.allpart-form{
    justify-content: center;
    align-items: center;
    padding: 23px 30px 22px;
    margin-top: -35px;
    z-index: 1;
    background: #f3f3f3;
}
.biminto{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    min-height: 300px;
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    padding: 30px 20px 0;
    background: #00b4ff;
}
.footer{
    padding: 25px 20px;
    background-color: #595958;
    align-items: center;
    color: #fff;
}
.endpart{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    background: #7bcf21;
    color: #fff;
}
.endpartpage{
    padding: 30px 20px;
    background-color: #30302f;
    text-align: center;
}
.gutter-row img{
    position: relative;
    top: 8px;
    width: 170px;
    height: 170px;
    margin: auto;
    border-radius: 50px;;
}
.card-img img{
    position: absolute;
    top: 25px;
    width: 170px;
    height: 170px;

}