.topheader{
    padding: 4px 12px;
    background: #328806;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    position: relative;
    display: flex;
    align-items: center;
    word-spacing: -2px;
    overflow: hidden;
    justify-content: center;
}
.ant-menu-submenu-title{
    padding-top: 10px;
}
.ant-menu-item{
    text-align: right;
}
#login{
    padding: 0 70px 0 0;
}
#samane{
    color: #7acf23;
}
.text-header h3{
    color: #fff;
}
#text-main{
    margin-bottom: 10px;
    font-size: 35px;
    padding: 17px 0;
}
.ant-select-item-option-content{
    text-align: right;
}
#control-hooks{
    padding: 0 80px;
}
.tow-img{
    position: relative;
    left: 600px;
}
.there-img{
    position: relative;
    left: 800px;
}
.top-img1{
    width: 90px;
    left: 35%;
    top: 22px;
    opacity: 0.2;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
.top-img2{
    width: 90px;
    right: 35%;
    top: 48px;
    opacity: 0.2;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
.top-img3{
    width: 90px;
    right: 5%;
    top: 12px;
    opacity: 0.2;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
.top-img4{
    width: 90px;
    left: 5%;
    top: 12px;
    opacity: .6;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
.main{
    background: linear-gradient(45deg,#99e1ff,#eef3e0);
    text-align: center;
}
.img-persone{
    float: right;
    width: 130px;
    height: 130px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
    cursor: pointer;
    font-size: 14px;
    background: #fff;
    margin: 10px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
    border-radius: 25px;
    z-index: 5;
}
.online-Buy{
    width: -webkit-fit-content;
    margin: 0 auto;
}
.form{
    display: block;
    width: 75%;
    max-width: 1020px;
    margin: 0 auto;
    border: 2px solid #494949;
    border-radius: 35px;
    z-index: 2;
    position: relative;
    background: #fff;
}
.add-form{
    padding: 30px 20px;
    background: #fc0;
    position: relative;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}
.img-form{
    height: 90px;
    position: absolute;
    right: 200px;
    top: -26px;
}
.img-form-tow{
    height: 90px;
    position: absolute;
    left: 200px;
    top: -26px;
}
.allpart-form{
    text-align: center;
    position: relative;
    color: #000;
    background: #fff;
    padding: 120px 20px 45px;
    margin-top: -11px;
}
.box-form{
    background: #fff;
    padding-top: 50px;
}
.ant-menu-horizontal{
    position: relative;
    margin-bottom: -9px;
    background-color: #4a4a4a;
    height: 70px;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    padding: 0 163px;
}
.backup{
    width: -webkit-fit-content;
    margin: 0 auto;
    padding-top: 40px;
}
.allpart-form{
    justify-content: center;
    align-items: center;
    padding: 23px 30px 22px;
    margin-top: -35px;
    z-index: 1;
    background: #f3f3f3;
}
.biminto{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    min-height: 41px;
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    padding: 6px 20px 65px 0;
    background: #00b4ff;
    text-align: center;
}
.biminto h2{
    color: #fff;
    padding:28px;
}
.footer{
    padding: 25px 20px;
    background-color: #595958;
    align-items: center;
    color: #fff;
    margin-top: -10px;
    margin-bottom: -8px;
}
.endpart{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    background: #7bcf21;
    color: #fff;
}
.endpartpage{
    padding: 30px 20px 45px 0;
    background-color: #30302f;
    text-align: center;
    margin-bottom: -55px;
}
.gutter-row img{
    position: relative;
    top: 0;
    height: 68px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 41px;
}
.gutter-row p{
    margin-top: 10px;
}

.card-img {
    position: absolute;
    left: 216px;
}

.card-img img{
    position: absolute;
    top: -145px;
    width: 170px;
    height: 170px;
    border-radius: 50px;
    margin-left: 33px;
}
.ant-card-hoverable{
    width: 240px;
    position: relative;
    top: 250px;
    padding-top: 20px;
}
.crad-application{
    padding-bottom: 100px;
}
.title-text{
    padding-bottom: 30px;
    text-align: center;
    padding-top: 100px;
}
.img-bank img{
    padding-top: 715px;
}
.scroll-img img{
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}
.title-text h1{
    text-align: center;
    padding: 29px;
}
.title-text h5{
    text-align: right;
    padding-right: 95px;
}
.txt_beme{
    text-align: right;
    padding-right: 50px;
}
.test-slider{
    text-align: center;
    padding: 50px;
}
/* ****************************************BemeShaghseSales */
.title-text-main{
    background: #ffffff;
    box-shadow: 1px 1px 15px #c5c5c5;
    width: 95%;
    min-height: 210px;
    position: relative;
    margin: 45px auto;
}
.all-box{
    max-width: 1200px;
    min-height: 550px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 0 40px;
    box-shadow: rgb(197, 197, 197) 1px 1px 15px;
}
.box-left{
    text-align: center;
}
.textboxone{
    text-align: right;
    padding: 13px 19px;
    margin-bottom: 35px;
}
.box1{
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 12px;
    font-family: IRANSansFaNum;
    line-height: 1.1875em;
    align-items: center;
    width: 100%;
    position: relative;
    direction: rtl;
}
.box2{
    width: 100%;
    position: relative;
    direction: rtl;
}
.title-main{
    text-align: center;
    padding-top: 14px;
}
.text-box{
    height: 60px;
    padding: 0 20px;
    background: #ffcc00;
    color: white;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.img-bank2{
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #c7c7c7;
    width: 45px;
    height: 45px;
    margin-left: 20px;
}